{% extends 'master.html'%}
{% load staticfiles%}
{% load crispy_forms_tags %}
{% load l10n %}
{% load i18n %}
{% load group_extra %}
{% block body%}

<div class="container-fluid">
    <form>
        <div class="row">
            <div class="col-md-8">
                <h4 class="c-grey-900">{{page_title|title}}</h4>
            </div>
            <div class="col-md-4">
                <div class="gap-10 peers push-right">
                    <div class="peer">
                        <a href="{% url 'loan:list-employee-loans' %}" class="btn cur-p btn-secondary">{% trans "List My Loans" %}</a>
                    </div>
                </div>
                {% if request.user|has_group:"Admin" or request.user|has_group:"HR" %}
                <div class="gap-10 peers push-right px-3">
                    <div class="peer">
                        <a href="{% url 'loan:list-all-loans' %}" class="btn cur-p btn-secondary">{% trans "List All Loans" %}</a>
                    </div>
                </div>
                {% endif %}
            </div>
        </div>
        <div class="mt-1">
            <div class="bgc-white p-20 bd">
                <div class="mT-30">
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <strong class="fw-500">{% trans 'Employee: ' %}</strong>
                            <b>{{ loan.employee.emp_name }}</b>
                        </div>
                        <div class="form-group col-md-6">
                         <strong class="fw-500">{% trans 'Loan Type: ' %}</strong>
                         <b>{{ loan.loan_type.name }}</b>
                     </div>
                     <div class="form-group col-md-6">
                         <strong class="fw-500">{% trans 'Amount: ' %}</strong>
                         <b>{{ loan.amount }} EGP</b>
                     </div>
                     <div class="form-group col-md-6">
                         <strong class="fw-500">{% trans 'Number Of Installments: ' %}</strong>
                         <b>{{ loan.number_of_installments }}</b>
                     </div>
                     <div class="form-group col-md-6">
                         <strong class="fw-500">{% trans 'Mode Of Payment: ' %}</strong>
                         <b>{{ loan.get_mode_of_payment_display }}</b>
                     </div>
                     <div class="form-group col-md-6">
                         <strong class="fw-500">{% trans 'Loan Required Date: ' %}</strong>
                         <b>{{ loan.loan_required_date }}</b>
                     </div>
                     <div class="form-group col-md-12">
                         <strong class="fw-500">{% trans 'Status: ' %}</strong>
                         <b>{{ loan.status }}</b>
                     </div>
                    </div>

                </div>
            </div>
        </div>
    </form>
</div>



{% endblock body%}

