{% load i18n %}
{% load l10n %}
{% load group_extra %}
{% load staticfiles %}

<div class="form-row p-20">
  <div class="col-sm-4">
    <label class="fw-500">{% trans 'Manager' %}</label>
    {{ jobroll_form.manager }}
  </div>
 
  <div class="col-sm-4">
    <label class="fw-500">{% trans 'Contract Type' %} <span class="red_star">*</span></label>
    {{ jobroll_form.contract_type }}
  </div>
  <div class="col-sm-4">
    <label class="fw-500">{% trans 'Position' %} <span class="red_star">*</span></label>
    {{ jobroll_form.position }}
  </div>
  <div class="col-sm-4">
    <label class="fw-500">{% trans 'Employee Type' %}</label>
    {{ emp_form.emp_type }}
  </div>
   <div class="col-sm-4">
    <label class="fw-500">{% trans 'Salary Structure' %}</label>
    <input type="text" value="{{ get_employee_salary_structure }}" class="form-control parsley-validated" disabled>
  </div>
  {% if user == 'amr.sedik' or  user == 'a.hozayen'  or  user == 'gehad_test'%}
    <div class="col-sm-4">
      <label class="fw-500">{% trans 'Department' %}</label>
         <span>
              <select id="dep_id" name="dep_id" class="form-control parsley-validated" >
                   <option selected  name="dep">{{employee_department}}</option>
                   {% for dep in departments_list%}
                        <option >{{dep.dept_name}}</option>
                   {% endfor %}     
              </select>
         </span>
    </div>
  {% else %}  
    <div class="col-sm-4">
      <label class="fw-500">{% trans 'Department' %}</label>
      <input type="text" value="{{employee_department}}" class="form-control parsley-validated" disabled>
    </div>
  {% endif %}  
  
  <div class="col-sm-4">
    <label class="fw-500">{% trans 'Start Date' %}</label>
    {{ jobroll_form.start_date }}
  </div>
  <div class="col-sm-3">
    <label class="fw-500">{% trans 'End Date' %}</label>
    {{ jobroll_form.end_date }}
  </div>
</div>
{% if flage == 1 %}
  <div class="col-sm-3 mb-4">
    <hr>
    <br>
      <div class="peer"><a href="{% url 'employee:new-jobroll' job_id=required_jobRoll.id %}"   onclick="change_x()"  class="btn cur-p btn-secondary">{% trans "Add" %}</a></div>
  </div>
  {% endif %}
