{% extends 'master.html'%}
{% load staticfiles%}
{% load crispy_forms_tags %}
{% load group_extra %}
{% load l10n %}
{% load i18n %}
{% block body%}


  <div class="row" style="margin-left:0px;">
    <div class="col-md-8">
      <h4 class="c-grey-900">{{page_title|title}}</h4>
    </div>

    <div class="col-md-4">
      <div class="gap-10 peers {% if LANGUAGE_BIDI %} push-left {% else %} push-right {% endif %}" >
        <div class="peer" data-toggle="tooltip" data-placement="bottom" title="{% trans 'Export' %}" >
          <a href="{% url 'employee:export-termination-employee' %}"  class="btn cur-p btn-secondary">
            <i class="fas fa-file-export"></i>
          </a>
        </div>


        <div class="peer"  data-toggle="tooltip" data-placement="bottom" title="{% trans 'Print' %}" >
          <a href="{% url 'employee:print-terminated-employees' %}" target="_blank" class="btn cur-p btn-secondary">
            <i class="fas fa-print"></i>
          </a>
        </div>
      </div>
    </div>
  </div>

    <div class="row" style="margin-left:0px;">
    <div class="col-md-12">
      <div class="bgc-white bd bdrs-3 p-20 mB-20">
        
        <table class="table table-striped table-bordered" cellspacing="0" id="dataTable" width="100%">
          <thead>
            <tr>
              <th>#</th>
              <th>{% trans "Employee Name" %}</th>
              <th>{% trans "Employee Num" %}</th>
              <th>{% trans "Position" %}</th>
              <th>{% trans "Contract Type" %}</th>
              <th>{% trans "Termination Date" %}</th>
              <th>{% trans "Actions" %}</th>
            </tr>
          </thead>
          <tbody>
            {% for emp in emp_job_roll_list %}
            <tr>
              <td scope="row">{{ forloop.counter }}</td>
              {% if LANGUAGE_BIDI and emp.emp_id.emp_arabic_name %}
              <td>{{ emp.emp_id.emp_arabic_name }}</td>
              {% else %}
              <td>{{ emp.emp_id.emp_name }}</td>
              {% endif %}
              <td>{{ emp.emp_id.emp_number }}</td>
              {% if LANGUAGE_BIDI and emp.position.position_arabic_name %}
              <td>{{ emp.position.position_arabic_name }}</td>
              {% else %}
              <td>{{ emp.position.position_name }}</td>
              {% endif %}
              <td>{{ emp.contract_type }}</td>
              <td>{{ emp.emp_id.terminationdate }}</td>
              <td class="Actions">
                <div class="w-100 gap-10 peers">
                  
                  <div class="peer" data-toggle="tooltip" data-placement="bottom" title="{% trans 'Rehire' %}">
                    <a data-toggle="modal" data-target="#rehire-modal-{{emp.emp_id.id}}">
                      <button type="button" class="btn cur-p btn-outline-primary">
                        <i class="fas fa-redo"></i>
                      </button>
                      </a>
                  </div>
                  <div class="peer" data-toggle="tooltip" data-placement="bottom" title="{% trans 'Correct' %}">
                    <a href="{% url 'employee:correct-employee' pk=emp.id %}">
                      <button type="button" class="btn cur-p btn-outline-success">
                       &#x270E
                      </button>
                    </a>
                  </div>
                </div>
              </td>
            </tr>
            <!----- Rehire ----->
            <div class="modal fade" id="rehire-modal-{{emp.emp_id.id}}" tabindex="-1" role="dialog" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-body">
                    <form method="POST" action="{% url 'employee:rehire-employee' emp_id=emp.emp_id.id %}">
                      {% csrf_token %}
                      <div class="form-group col-md-12">
                        <label class="fw-500">{% trans "From Date" %}</label>
                        <div class="timepicker-input input-icon form-group">
                          <div class="input-group">
                            <div class="input-group-addon bgc-white bd bdwR-0"><i class="ti-calendar"></i></div>
                            {{ emp_form.emp_start_date}}
                          </div>
                        </div>
                      </div>
                      <button type="submit" onclick="change_x()" class="btn btn-success">{% trans "Rehire" %}</button>
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">{% trans "No" %}</button>
                    </form>
                  </div>
                </div>
              </div>
            </div>
            <!----- End Rehire ----->
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>


{% endblock body%}