{% extends "master.html" %}
{% load staticfiles %}
{% load crispy_forms_tags %}
{% load l10n %}
{% load i18n %}

{% block body %}

<!--  -->
<div class="row gap-20 masonry pos-r" style="position: relative; height: 1120.2px;">
    <div class="masonry-sizer col-md-6"></div>
    <div class="masonry-item col-md-12" style="position: absolute; left: 0%; top: 375.4px;">
        <div class="bgc-white p-20 bd">
            <h1 class="c-grey-900" style="text-align:center;">
                <strong>{% trans "Business Travel " %}</strong>
            </h1>
            <div class="mT-30">

                <h6 class="c-grey-900"><strong>{% trans "Business Trip Information" %}</strong></h6>
                <hr>
                <br>
                <div class="form-row">
                    <div class="form-group col-md-12">
                        <label style="font-weight: bolder;">Destination: </label>
                        {{service.destination}}
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-3">
                        <label style="font-weight: bolder;">From Date: </label>
                        {{service.estimated_date_of_travel_from}}
                    </div>
                    <div class="form-group col-md-3">
                        <label style="font-weight: bolder;">To Date: </label>
                        {{service.estimated_date_of_travel_to}}
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-12">
                        <label style="font-weight: bolder;">Purpose Of Trip: </label>
                        {{service.prupose_of_trip}}
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-12">
                        <label style="font-weight: bolder;">Project Name: </label>
                        {{service.project_name}}
                    </div>
                </div>

                <h5 class="c-grey-900"><strong>{% trans "Trip expenses:" %}</strong></h5>
                <hr>

                <div class="form-row">
                    <div class="form-group col-md-3">
                        <label style="font-weight: bolder;">Transportation: </label>
                        {{service.get_transportation_type_to_des_display}}
                    </div>
                </div>
                <div class="form-group col-md-3">
                    <label style="font-weight: bolder;">Ticket Cost: </label>
                    {{service.ticket_cost}} LE
                </div>
                <div class="form-group col-md-3">
                    <label style="font-weight: bolder;">Fuel Cost: </label>
                    {{service.fuel_cost}} LE
                </div>
                <div class="form-row">
                    <div class="form-group col-md-3">
                        <label style="font-weight: bolder;">Transportation In City: </label>
                        {{service.get_transportation_type_in_city_display}}
                    </div>
                </div>
                <div class="form-group col-md-3">
                    <label style="font-weight: bolder;">Cost: </label>
                    {{service.cost}} LE
                </div>

                <h5 class="c-grey-900"><strong>{% trans "Accomodation" %}:</strong></h5>
                <hr>
                <div class="form-group col-md-12">
                    <label style="font-weight: bolder;">{% trans 'Accomodation Type: ' %}</label>
                    {{service.get_accomodation_display}}
                </div>
                {% if service.accomodation == 'H' %}
                <div class="form-row">
                    <div class="form-group col-md-3">
                        <label style="font-weight: bolder;">{% trans 'From Date: ' %}</label>
                        {{service.duration_of_hotel_from}}
                    </div>
                    <div class="form-group col-md-3">
                        <label style="font-weight: bolder;">{% trans 'To Date: ' %}</label>
                        {{service.duration_of_hotel_to}}
                    </div>
                    <div class="form-group col-md-3">
                        <label style="font-weight: bolder;">{% trans 'Hotel Name: ' %}</label>
                        {{service.hotel_name}}
                    </div>
                    <div class="form-group col-md-3">
                        <label style="font-weight: bolder;">{% trans 'Cost: ' %}</label>
                        {{service.cost_per_night}}
                    </div>
                </div>
                {% endif %}
                <div class="form-group">
                    <label style="font-weight: bolder;">{% trans 'total in EGB : %}</label>
                    {{service.total}}
                </div>
                {% if has_action %}
                <div class="form-group">
                    {% if has_action != "is_notify" %}
                    <strong>
                        <h3>Status:<span id='Test'> {{has_action}}</span></h3>
                    </strong>
                    {% endif %}
                </div>
                {% else %}
                <div class="form-row gap-10 peers">
                    <form method="POST">
                        {% csrf_token %}
                        <div class="peer">


                            <a href="{% url 'employee:list-employee' %}">
                                <button type="submit" class="btn cur-p btn-success" name="approve">{% trans "Approve" %}</button>
                            </a>

                        </div>
                    </form>
                    <form method="POST">
                        {% csrf_token %}
                        <div class="peer">
                            <a href="#">
                                <button type="submit" class="btn cur-p btn-danger" name="reject">{% trans "Reject" %}</button>
                            </a>
                        </div>
                    </form>
                </div>
                {% endif %}


            </div>
        </div>
    </div>
</div>
{% endblock body %}
{% block js %}
<script>
    
</script>
{% endblock js %}