{% load i18n %}
{% load l10n %}
{% load group_extra %}
{% load staticfiles %}
<div class="sidebar-inner">
  <div class="sidebar-logo">
    <div class="peers ai-c fxw-nw">
      <div class="peer peer-greed">
        <a class="sidebar-link td-n" href="{% url 'home:homepage' %}">
          <div class="peers ai-c fxw-nw">
            <div class="peer">
              <div class="logo"><img src="{% static 'assets/static/images/logo.png' %}" alt=""></div>
            </div>
            <div class="peer peer-greed">
              <h5 class="lh-1 mB-0 logo-text">PeopleM8</h5>
            </div>
          </div>
        </a>
      </div>
      <div class="peer">
        <div class="mobile-toggle sidebar-toggle"><a href="#" class="td-n"><i class="ti-arrow-circle-left"></i></a>
        </div>
      </div>
    </div>
  </div>
  <ul class="sidebar-menu scrollable pos-r">
    <li class="nav-item mT-30 active"><a class="sidebar-link" href="{% url 'home:homepage' %}" default>
        <span class="icon-holder"><i class="c-blue-500 ti-home"></i> </span>
        <span class="title">{% trans 'Dashboard'%}</span></a>
    </li>
    {% if request.user|has_group:"Admin"%}
    <li class="nav-item dropdown">
      <a class="dropdown-toggle" href="javascript:void(0);"><span class="icon-holder"><i class="c-orange-500 ti-layout-list-thumb"></i> </span><span class="title">{% trans 'Company Setup'%}</span>
        <span class="arrow"><i class="ti-angle-right"></i></span></a>
      <ul class="dropdown-menu">
        <li><a class="sidebar-link" href="{% url 'company:list-company-information' %}">{% trans 'Enterprise Information'%}</a></li>
        <!-- <li><a class="sidebar-link" href="{% url 'balanc_definition:list-cost-center' %}">{% trans 'Cost Center'%}</a> -->
    </li>

    <li class="nav-item dropdown">
      <a href="javascript:void(0);">
        <span>{% trans 'Enterprise structure'%}</span>
        <span class="arrow"><i class="ti-angle-right"></i></span>
      </a>
      <ul class="dropdown-menu" style="display: none;">
        <li><a href="{% url 'company:list-department' %}">{% trans "Departments" %}</a></li>
        <li><a href="{% url 'company:list-jobs' %}">{% trans "Jobs" %}</a></li>
        <li><a href="{% url 'company:list-grades' %}">{% trans "Grades" %}</a></li>
        <li><a href="{% url 'company:list-positions' %}">{% trans "Positions" %}</a></li>
      </ul>
    </li>
  </ul>


  <li class="nav-item dropdown">
    <a class="dropdown-toggle" href="javascript:void(0);"><span class="icon-holder"><i class="c-red-500 ti-files"></i>
      </span><span class="title">{% trans "Payroll Setup " %}</span> <span class="arrow"><i class="ti-angle-right"></i></span></a>
    <ul class="dropdown-menu">
      <li class="nav-item dropdown">
        <a class="dropdown-toggle" href="javascript:void(0);">
          <span class="title">{% trans 'Salary Management'%}</span> <span class="arrow"><i class="ti-angle-right"></i></span>
        </a>
        <ul class="dropdown-menu">
          <li><a class="sidebar-link" href="{% url 'element_definition:list-element' %}">{% trans 'Salary Details'%}</a>
          </li>
          <li><a class="sidebar-link" href="{% url 'element_definition:list-batchs' %}">{% trans 'Salary Structure'%}</a>
          </li>
          <li><a class="sidebar-link" href="{% url 'element_definition:assign-salary-structure' %}">{% trans 'Assign Salary Structure'%}</a>
          </li>
        </ul>
      </li>

      <li><a class="sidebar-link" href="{% url 'manage_payroll:list-banks' %}">{% trans 'Banks and branches'%}</a></li>
      <li><a class="sidebar-link" href="{% url 'manage_payroll:list-payments' %}">{% trans 'Payments Setup'%}</a></li>
      <li><a class="sidebar-link" href="{% url 'manage_payroll:list-payroll' %}">{% trans 'Payroll Definitions'%}</a></li>
      {% if request.user.is_superuser %}
      <li><a class="sidebar-link" href="{% url 'defenition:tax-list' %}">{% trans 'Tax Rules'%}</a></li>
      {% endif %}
      <li><a class="sidebar-link" href="{% url 'payroll_run:list-salary' %}">{% trans 'Payroll Run' %}</a></li>
      <li><a class="sidebar-link" href="{% url 'manage_payroll:list-assignBatch' %}">{% trans 'Assignment Batch'%}</a></li>
    </ul>
  </li>
  <li class="nav-item dropdown">
    <a class="dropdown-toggle" href="javascript:void(0);"><span class="icon-holder"><i class="c-pink-500  ti-user"></i> </span><span class="title">{% trans "Employee Info Setup" %}</span> <span class="arrow"><i class="ti-angle-right"></i></span></a>
    <ul class="dropdown-menu">
      <li><a class="sidebar-link" href="{% url 'employee:list-employee' %}">{% trans 'Personal & Job Information'%}</a></li>
      <li><a class="sidebar-link" href="{% url 'employee:list-terminated-employees' %}">{% trans 'Terminations'%}</a></li>
      <li><a class="sidebar-link" href="{% url 'employee:upload-employee-elements' %}">{% trans 'Upload Employee Elements'%}</a></li>
      <li><a class="sidebar-link" href="{% url 'employee:upload-employee-variable-elements' %}">{% trans 'Upload Employee Variable Elements'%}</a></li>
    </ul>
  </li>
  {% endif %}

  {% if request.user|has_group:"Admin" or request.user|has_group:"HR" or request.user.is_superuser  %}
  <li class="nav-item dropdown">
    <a class="dropdown-toggle" href="javascript:void(0);"><span class="icon-holder"><i class="c-pink-500 ti-agenda"></i> </span><span class="title">{% trans "Reports" %}</span> <span class="arrow"><i class="ti-angle-right"></i></span></a>
    <ul class="dropdown-menu">
      <li><a class="sidebar-link" href="{% url 'payroll_run:creat-report' %}">{% trans 'Payroll Report'%}</a></li>
      <li><a class="sidebar-link" href="{% url 'payroll_run:monthly-salary-report' %}">{% trans 'Monthly Salary Report'%}</a></li>







      <li><a class="sidebar-link" href="{% url 'manage_payroll:get-cash-report' %}">{% trans 'Cash Report'%}</a></li>
      <li><a class="sidebar-link" href="{% url 'manage_payroll:get-bank-report' %}">{% trans 'ATM Report'%}</a></li>
      <li><a class="sidebar-link" href="{% url 'manage_payroll:get-hold-report' %}">{% trans 'Hold Report'%}</a></li>



      <li><a class="sidebar-link" href="{% url 'payroll_run:creat-employee-company-insurance-report' %}">{% trans 'Employee Company Insurance Share Report'%}</a></li>
    </ul>
  </li>
  {% endif %}

</div>
